In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

# Loading the dataset

## Movies

In [ ]:
column_names = [
    "Wikipedia movie ID",
    "Freebase movie ID",
    "Movie name",
    "Movie release date",
    "Movie box office revenue",
    "Movie runtime",
    "Movie languages (Freebase ID:name tuples)",
    "Movie countries (Freebase ID:name tuples)",
    "Movie genres (Freebase ID:name tuples)"
]

movies = pd.read_csv("dataset/MovieSummaries/movie.metadata.tsv", delimiter='\t', names=column_names)

In [ ]:
movies

In [ ]:
movies.info()

90% of missing data for the box office revenue!

## Actors

In [ ]:
column_names = [
    "Wikipedia movie ID",
    "Freebase movie ID",
    "Movie release date",
    "Character name",
    "Actor date of birth",
    "Actor gender",
    "Actor height (in meters)",
    "Actor ethnicity (Freebase ID)",
    "Actor name",
    "Actor age at movie release",
    "Freebase character/actor map ID",
    "Freebase character ID",
    "Freebase actor ID"
]

characters = pd.read_csv("dataset/MovieSummaries/character.metadata.tsv", delimiter='\t', names=column_names, date_format=["Actor date of birth"])

In [ ]:
characters

In [ ]:
oscars = pd.read_csv("dataset/the_oscar_award.csv", delimiter=',')

#len(oscars), len(characters)
oscars

In [ ]:
characters.drop_duplicates("Actor name")

In [ ]:
print(list(pd.merge(oscars, characters.drop_duplicates("Actor name"), how="inner", left_on="name", right_on="Actor name")['name'].unique()))

# Analysis

In [ ]:
nb_films = characters["Freebase actor ID"].value_counts()

nb_films[nb_films > 100]